html, body {
  height: 100%;
  background-color: #26C6DA;
}

body {
  margin: 0px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

canvas {
  overflow:hidden;
  margin: 0px;
  padding: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 4px;
  z-index: 2;
}

i {
  /* font-size: 2rem; /*32*/
  font-size: 28pt;
  margin-right: 6px;
  color: #2E7D32;
}
