html, body {
  height: 100%;
  background-color: #26C6DA;
}

body {
  margin: 0px;
}

canvas {
  overflow:hidden;
  margin: 0px;
  padding: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 4px;
  z-index: 2;
}

i {
  /* font-size: 2rem; /*32*/
  font-size: 28pt;
  margin-right: 6px;
  color: #2E7D32;
}

.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #F44336;
  border-radius: 50%;
  box-shadow: 2px 2px rgba(0,0,0,0.3);
}

.fab > i {
  color: #FFFFFF;
  margin: 20px;
}

.pac-container {
  z-index: 100000;
}

/* MapView styling */
#map {
    height: 200px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
